
!*.cpp
!*.hpp
!*.h
!*.md
!*.gitignore

# 3. Do NOT ignore folders (so Git can look inside them for .cpp files)
!*/

# 4. Specific junk files that might match the rules above
.DS_Store
tempCodeRunnerFile.*

